<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class=container align="center">
        {%for msg in messages%}
        <h3>{{msg}}</h3>
        {%endfor%}
        </div>
        <div class=container align="center">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {%if form%}
            <table>
            <tr><th><label for="id_pname">Pname:</label></th><td><input type="text" name="pname" value="{{form.pname}}" maxlength="30" required id="id_pname"></td></tr>
            <tr><th><label for="id_pdesc">Pdesc:</label></th><td><input type="text" name="pdesc" value="{{form.pdesc}}" maxlength="200" required id="id_pdesc"></td></tr>
            <tr><th><label for="id_pprice">Pprice:</label></th><td><input type="number" name="pprice" value="{{form.pprice}}" step="any" required id="id_pprice"></td></tr>
            <tr><th><label for="id_pdiscount">Pdiscount:</label></th><td><input type="number" name="pdiscount" value="{{form.pdiscount}}" step="any" required id="id_pdiscount"></td></tr>
            <tr><th><label for="id_pimage">Pimage:</label></th><td><img src="{{form.pimg.url}}" alt="no img found" height="100" width="150"></td></tr>
            <tr><th><label for="id_pimg">Pimg:</label></th><td><input type="file" name="pimg" accept="image/*" id="id_pimg"></td></tr>
            </table>
            {%endif%}
            <input type="submit", value="modifyproduct">
            </form>
            <br><br>
            <a href='/product/readp/'>display the products</a>
        </div>
    
</body>
</html>