<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%for msg in messages%}
    <h4>{{msg}}</h4>
    {%endfor%}
    {%if user.is_authenticated%}
    <h1>HOMEPAGE</h1>
    <h2>welcome to {{user.username}}</h2>
    <a href="/logout/">Logout</a>
    {%else%}
    <h2>you are not logged in plz login</h2>
    <a href="/login/">Login</a>
    {%endif%}
</body>
</html>